{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>College Admin</title>
    <meta name="description" content="">
    <meta name="author" content="mindfire solutions">
	
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" />
    <link href="static/css/bootstrap.min.css" rel="stylesheet" />
    <link href="static/css/bootstrap-responsive.css" rel="stylesheet" />
    <link href="static/css/bootstrap-formhelpers.css" rel="stylesheet" />
    <link href="static/css/bootstrap-formhelpers-countries.flags.css" rel="stylesheet" />
 
</head>
    <body>
    	<div class="" id="loginModal">
        	<div class="modal-body">
            	<div class="well">
                	<div id="myTabContent" class="tab-content">
                    	<div class="tab-pane active in" id="login">
                        	<form id="login_form" class="form-horizontal" action="javascript:void(0);">
                            	<fieldset>
                                	<div id="legend">
                                    	<legend class="">Login</legend>
                                    </div> 
                                    <div id="id_login_error" class="error"> </div>   
                                    <div class="control-group">
                                    	<!-- Username --  required pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}" -->
                                        <label class="control-label"  for="username">Email</label>
                                        <div class="controls">
                                        	<input type="text" id="id_login" name="id_login" placeholder="me@example.com" class="input-xlarge"  >
                                        </div>
                                    </div>
                                    <div class="control-group">
                                    	<!-- Password-->
                                        <label class="control-label" for="password">Password</label>
                                     	<div class="controls">
                                        	<input type="password" id="id_password" name="id_password" placeholder="" class="input-xlarge" >
                                        </div>
                                    </div>
                                   <div class="control-group">
                                       <!-- Button -->
                                   	   <div class="controls">
                          			       <button class="btn btn-success">Login</button>
                       				   </div>
                                   </div>
                    	      </fieldset>
                          </form> 
                      </div>               
                  </div>
              </div>
          </div>
      </div> 
      <script src="static/js/lib/jquery.js"></script>
      <script src="static/js/lib/jquery.validate.min.js"></script>
      <script src="static/js/validation.js"></script>     
  </body>
</html>
